.header {
  display: flex;
  flex-flow: column wrap;

  background-color: $color-white;
  position: relative;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 265px auto;
    gap: 0;
    padding: 25px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}
